NODE_ENV=development
SERVICE_NAME=inventory-service
PORT=3002
DATABASE_URL=postgresql://oms:oms@localhost:5434/inventory?schema=public
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=inventory-service
KAFKA_GROUP_ID=inventory-service
LOG_LEVEL=info
