NODE_ENV=development
SERVICE_NAME=picking-service
PORT=3003
DATABASE_URL=postgresql://oms:oms@localhost:5435/picking?schema=public
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=picking-service
KAFKA_GROUP_ID=picking-service
LOG_LEVEL=info
